* {
    box-sizing: border-box;
}

html,body {
    height:100%;
    margin:0;
    padding:0;
}

#root {
    height:100%;
}

.searchContainer {
    position:relative;
    top:5%;
    display:flex; 
    justify-content: center;
}

input
{
    width: 400px;
    height:30px;
}